#add-button, #link-button, #delete-button {
    -fx-alignment: center;
    -fx-background-size: 25px 25px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-min-height: 40;
    -fx-min-width: 40;
    -fx-max-height: 40;
    -fx-max-width: 40;
}
#add-button {     -fx-background-image: url("save.png");  }
#link-button {    -fx-background-image: url("link.png"); }
#delete-button {  -fx-background-image: url("delete.png");}